{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Book, a blog about  books</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/book.jpg' %}" type=image/x-icon />
</head>
<body>
   <header class="header">
    <div class="header-1">
    <img src="{% static 'images/book.jpg' %}" alt="logo"/>
        <a href="#" class="logo"><i class="book"></i> ThE BOOk </a></div>
          <div class="header-2">
            <ul class="menu">
              <li><a href="#" class="active"><b>HOME</b></a></li>
              <li><a href="/reviewers"><b>REVIEWERS</b></a></li>
              <li><a href="/blogs"><b>BLOGS</b></a></li>
              <li><a href="/authors"><b>AUTHORS</b></a></li>
              <li><a href="/contactus"><b>CONTACT US</b></a></li>
        </ul>
          </div>
          <form action=" " class ="search-form">
            <input type = "search" name = " " placeholder ="search here ..." id ="search-box">
            <label for = "search-box" class="fas fa-search"> </label>
      </form>
      <div class = "icons">
            <a href="#" class="logo">  </a>
      </div>
          </div>
   </header>
   <div class="header-content">
      <div class="header-text">
        <h1>There Is No Friend As
          <span>Loyal</span> as a <span>Book</span>.</h1>
          <a href="/login" class="header-btn"><b>LOG IN/SIGN UP</b></a>

          </div>
      </div>
          <div class="header-img">
             <img src="{% static 'images/back.jpg' %}">
           </div>
</body>
</html>
