{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Book, a blog about  books</title> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/book.jpg' %}" type=image/x-icon />
</head>
<body>
    <header class="header">
        <div class="header-1">
        <img src="{% static 'images/book.jpg' %}" alt="logo"/>
            <a href="#" class="logo"><i class="book"></i> ThE BOOk </a></div>
              <div class="header-2">
                <ul class="menu">
                      <li><a href="/"><b>HOME</b></a></li>
                      <li><a href="#" class="active"><b>REVIEWERS</b></a></li>
                      <li><a href="/blogs"><b>BLOGS</b></a></li>
                      <li><a href="/authors"><b>AUTHORS</b></a></li>
                      <li><a href="/contactus"><b>CONTACT US</b></a></li>
                </ul>
              </div>
              <form action=" " class ="search-form">
                <input type = "search" name = " " placeholder ="search here ..." id ="search-box">
                <label for = "search-box" class="fas fa-search"> </label>
          </form>
          <div class = "icons">
                <a href="#" class="logo">  </a>
          </div>
              </div>
      </header>
              <!--reviews-->
      <div class="about-heading">
        <h1>Reader's says</h1>
      </div>
      <div class="about-box-container">
          <div class="about-box">
              <div class="box-top">
                  <div class="profile">
                      <div class="profile-img">
                          <img src="{% static 'images/c-1.jpg' %}" />
                      </div>
                      <div class="name-user">
                          <strong>Touseeq Ijaz</strong>
                          <span>touseeqijazweb@gmail.com</span>
                      </div>
                  </div>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
              </div>
              <div class="client-comment">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
              </div>
          </div>
          <div class="about-box">
              <div class="box-top">
                  <div class="profile">
                      <div class="profile-img">
                          <img src="{% static 'images/c-2.jpg' %}" />
                      </div>
                      <div class="name-user">
                          <strong>J.K Rowling</strong>
                          <span>jkrowling@gmail.com</span>
                      </div>
                  </div>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
              </div>
              <div class="client-comment">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
              </div>
          </div>
          <div class="about-box">
              <div class="box-top">
                  <div class="profile">
                      <div class="profile-img">
                          <img src="{% static 'images/c-3.jpg' %}" />
                      </div>
                      <div class="name-user">
                          <strong>Harry Potter</strong>
                          <span>DanielRedclief@gmail.com</span>
                      </div>
                  </div>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
              </div>
              <div class="client-comment">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
              </div>
          </div>
          <div class="about-box">
              <div class="box-top">
                  <div class="profile">
                      <div class="profile-img">
                          <img src="{% static 'images/c-4.jpg' %}" />
                      </div>
                      <div class="name-user">
                          <strong>Oliva</strong>
                          <span>Olivaadward@gmail.com</span>
                      </div>
                  </div>
                  <div class="reviews">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                  </div>
              </div>
              <div class="client-comment">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
              </div>
          </div>
              <div class="about-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{% static 'images/c-5.jpg' %}" />
                        </div>
                        <div class="name-user">
                            <strong>Alice K</strong>
                            <span>Alice@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
            </div>
            <div class="about-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{% static 'images/c-6.jpg' %}" />
                        </div>
                        <div class="name-user">
                            <strong>Abeba</strong>
                            <span>Abeba@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
            </div>
            <div class="about-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{% static 'images/c-7.jpg' %}" />
                        </div>
                        <div class="name-user">
                            <strong>SRI</strong>
                            <span>Sri@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
            </div>
            <div class="about-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="{% static 'images/c-8.jpg' %}" />
                        </div>
                        <div class="name-user">
                            <strong>China Hwa</strong>
                            <span>ChinHwa@gmail.com</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                </div>
          </div>
</body>
</html>